
@model WebApplication1.Models.Contact
@{
        Layout = null;
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactForm</title>
</head>
<body>
    <form asp-action="FormContact" method="post">
        <p>
            <label asp-for="Name">Фамилия:</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Эл.Почта:</label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Телефон :</label>
            <input asp-for="Phone" />
        </p>
        <p>
            <label>Группа:</label>
            <select asp-for="Group">
                <option>Friends</option>
                <option>Colleagues</option>
                <option>Relatives</option>
            </select>
        </p>
        <button type="submit">Добавить контакт</button>
    </form>
</body>
</html>


