
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
        @ViewBag.Greeting в ЛК (из the view)
    </div>
    <br />
    <a asp-action="ContactForm">Контактная форма</a>
    <p>
        <a asp-action="ContactsList">Листы контактов</a>
    </p>
    
</body>
</html>

